/* ------------------------------------------------------------------
  Plugin Sociality Styles
 ------------------------------------------------------------------- */
/* stylelint-disable scss/comment-no-empty */
.sociality-author-bio {
  --cpl-crop--top-left__size: 0%;
  --cpl-crop--top-right__size: 0%;
  --cpl-crop--bottom-right__size: 0%;
  --cpl-crop--bottom-left__size: 0%;
  clip-path: polygon(0 var(--cpl-crop--top-left__size), var(--cpl-crop--top-left__size) 0, calc(100% - var(--cpl-crop--top-right__size)) 0, 100% var(--cpl-crop--top-right__size), 100% calc(100% - var(--cpl-crop--bottom-right__size)), calc(100% - var(--cpl-crop--bottom-right__size)) 100%, var(--cpl-crop--bottom-left__size) 100%, 0 calc(100% - var(--cpl-crop--bottom-left__size)));
}

.cpl-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cpl-share > span {
  font-size: 0.8125em;
  font-weight: 600;
  color: hsl(var(--cpl-color-contrast-100));
  text-transform: uppercase;
}
.cpl-share > span::after {
  margin-right: 6px;
  margin-left: 12px;
  content: "//";
}

.sociality-share {
  --sclt-share__gaps: 0;
  --sclt-share__margin-x: 0;
}
.sociality-share .sociality-share-button {
  padding: 3.5px 7.5px;
  font-size: 0.8125em;
  font-weight: 600;
  color: hsl(var(--cpl-color-contrast-500));
  text-transform: uppercase;
  -webkit-transition: color var(--cpl-transition-duration) var(--cpl-transition-easing);
  -o-transition: color var(--cpl-transition-duration) var(--cpl-transition-easing);
  transition: color var(--cpl-transition-duration) var(--cpl-transition-easing);
}
.sociality-share .sociality-share-button:hover, .sociality-share .sociality-share-button:focus {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.sociality-share .sociality-share-button:hover {
  color: hsl(var(--cpl-color-contrast-100));
}
.sociality-share .sociality-share-button:focus {
  color: var(--cpl-color-brand);
}
.sociality-share .sociality-icon {
  display: none;
}
.sociality-share .sociality-share-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sociality-share .sociality-share-name::after {
  content: ".";
}
.sociality-share .sociality-share-counter {
  position: absolute;
  bottom: 100%;
  min-width: 30px;
  padding: 0 5px;
  margin-bottom: 9px;
  font-size: 0.8125em;
  color: hsl(var(--cpl-color-contrast-500));
  text-align: center;
  background-color: hsl(var(--cpl-color-background-400));
  border-radius: var(--cpl-border-radius);
}

.sociality-author-bio {
  --sclt-author-bio__padding-x: 30px;
  --sclt-author-bio__padding-y: 30px;
  --sclt-author-bio__background-color: hsl(var(--cpl-color-background-100));
  --sclt-author-bio--avatar__width: 60px;
  --sclt-author-bio--avatar__height: 60px;
  --sclt-author-bio--elements__gap: 22px;
  --sclt-author-bio--social-links__gap: 20px;
  --sclt-author-bio--social-links__font-size: 1.125em;
  --cpl-crop--bottom-right__size: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sociality-author-bio .sociality-author-bio-name a,
.sociality-author-bio .sociality-author-bio-links a {
  display: inline-block;
  color: hsl(var(--cpl-color-contrast-100));
  -webkit-transition: color var(--cpl-transition-duration) var(--cpl-transition-easing);
  -o-transition: color var(--cpl-transition-duration) var(--cpl-transition-easing);
  transition: color var(--cpl-transition-duration) var(--cpl-transition-easing);
}
.sociality-author-bio .sociality-author-bio-name a:hover, .sociality-author-bio .sociality-author-bio-name a:focus,
.sociality-author-bio .sociality-author-bio-links a:hover,
.sociality-author-bio .sociality-author-bio-links a:focus {
  color: var(--cpl-color-brand);
  opacity: 1;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.sociality-author-bio .sociality-author-bio-description {
  margin-left: 0;
}
.sociality-author-bio .sociality-author-bio-links {
  margin-top: 0;
}
.sociality-author-bio .sociality-icon {
  display: block;
}

.sociality-author-bio-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  position: absolute;
  top: calc(var(--sclt-author-bio__padding-y) + var(--sclt-author-bio--avatar__width) / 2);
  font-size: 1.125em;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.sociality-author-bio-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.sociality-author-bio-links {
  position: absolute;
  top: var(--sclt-author-bio__padding-y);
  right: var(--sclt-author-bio__padding-x);
}